.dock-item:has(+ .dock-item:hover) {
  width: calc(80px + var(--dock-offset-left, 0px));
  height: calc(80px + var(--dock-offset-left, 0px));
  margin-top: calc(-20px + var(--dock-offset-left, 0px) * -1);
}

.dock-item:has(+ .dock-item + .dock-item:hover) {
  width: calc(70px + var(--dock-offset-left, 0px));
  height: calc(70px + var(--dock-offset-left, 0px));
  margin-top: calc(-10px + var(--dock-offset-left, 0px) * -1);
}

.dock-item:hover + .dock-item {
  width: calc(80px + var(--dock-offset-right, 0px));
  height: calc(80px + var(--dock-offset-right, 0px));
  margin-top: calc(-20px + var(--dock-offset-right, 0px) * -1);
}

.dock-item:hover + .dock-item + .dock-item {
  width: calc(70px + var(--dock-offset-right, 0px));
  height: calc(70px + var(--dock-offset-right, 0px));
  margin-top: calc(-10px + var(--dock-offset-right, 0px) * -1);
}